body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:800px;
  height:100px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:604px;
  top:32px;
  width:193px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:99px;
  width:800px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:324px;
  top:109px;
  width:76px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1000px;
  top:99px;
  width:100px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:360px;
  top:200px;
  width:600px;
  height:360px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u10 {
  position:absolute;
  left:2px;
  top:172px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:400px;
  top:230px;
  width:140px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:400px;
  top:280px;
  width:140px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:400px;
  top:333px;
  width:140px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:385px;
  width:140px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:440px;
  width:140px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:590px;
  top:230px;
  width:200px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:590px;
  top:280px;
  width:200px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:590px;
  top:333px;
  width:200px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:590px;
  top:385px;
  width:200px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:590px;
  top:440px;
  width:200px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:470px;
  top:510px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:640px;
  top:510px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
