body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:800px;
  height:100px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:604px;
  top:32px;
  width:193px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:99px;
  width:800px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:324px;
  top:109px;
  width:76px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1000px;
  top:99px;
  width:100px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:360px;
  top:250px;
  width:620px;
  height:320px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:320px;
}
#u10 {
  position:absolute;
  left:2px;
  top:152px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:560px;
  top:288px;
  width:200px;
  height:32px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:390px;
  top:288px;
  width:120px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:390px;
  top:380px;
  width:120px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:560px;
  top:378px;
  width:200px;
  height:32px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:440px;
  top:480px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:610px;
  top:480px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
